body {
    background-color:#6a6a6a;
    min-height:100vh;
    position: relative;
    margin:0;
    font-family: 'Droid Sans', sans-serif;
    &:before {
      content: '';
      position: fixed;
      top:0px;
      left:50%;
      bottom:0px;
      transform:translateX(-50%);
      width:4px;
      background-color:#fff;
    }
    .entries {
      width:calc(100% - 80px);
      max-width:800px;
      margin:auto;
      position: relative;
      left:-5px;
      .entry {
        width:calc(50% - 80px);
        float:left; 
        padding:20px;
        clear:both;
        text-align:right;
        &:not(:first-child) {
          margin-top:-60px;
        }
        .title {
          font-size:32px;
          margin-bottom:12px;
          position: relative;
          color:#fff;
          &:before {
            content: '';
            position: absolute;
            width:8px;
            height:8px;
            border:4px solid #ffffff;
            background-color:#6a6a6a;
            border-radius:100%;
            top:50%;
            transform:translateY(-50%);
            right:-73px;
            z-index:1000;
          }
          &.big:before {
            width:24px;
            height:24px;
            transform:translate(8px,-50%);
            
          }
        }
        .body {
          color:#fcf11f;
          p {
            line-height:1.4em;
          }
        }
        &:nth-child(2n) {
          text-align:left;
          float:right;
          .title {
            &:before {
              left:-63px;
            }
            &.big:before {
              transform:translate(-8px,-50%);
            }
          }
        }
      }
    }
  }
  h1{
    font-size: 30px;
    color: #fff;
    
  }
  
  .box{
    animation-name:fadeUpAnime;
    animation-duration:5s;
    animation-fill-mode:forwards;
    opacity:0;
    }
    
    @keyframes fadeUpAnime{
      from {
        opacity: 0;
      transform: translateY(100px);
      }
    
      to {
        opacity: 1;
      transform: translateY(0);
      }
    }
    
  #foo{
    color: azure;
    text-indent: 5mm;
  }
    
  #foo1{
    color: azure;
    text-indent: 260mm;
    vertical-align: 30px;
  }
  
  #foo2{
    color: azure;
    text-indent: -13mm;
  }
  
  #foo3{
    color: azure;
    text-indent: 270mm;
  }
  
  #foo4{
    color: azure;
    text-indent: 5mm;
  }
  
  #foo5{
    color: azure;
    text-indent: 275mm;
    font-size: 13px;
  }
  
  #foo6{
    color: azure;
    text-indent: 0mm;
  }
  
  #foo7{
    color: azure;
    text-indent: 280mm;
    vertical-align: -5mm;
  }
  
  #page_top{
    width: 50px;
    height: 50px;
    position: fixed;
    right: 0;
    bottom: 0;
    background: #3f98ef;
    opacity: 1;
  }
  #page_top a{
    position: relative;
    display: block;
    width: 50px;
    height: 50px;
    text-decoration: none;
  }
  #page_top a::before{
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    content: '\f102';
    font-size: 25px;
    color: #fff;
    position: absolute;
    width: 25px;
    height: 25px;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
    text-align: center;
  }

  .header{
    text-align: center;
    background-color: #ffffff;
    position: relative;
    z-index: 9999;
}

.header h1{
    color: black;
}

.選択{
    letter-spacing: -.1em;
    font-size: 20px;
    margin-bottom: 0;
    list-style: none;
    margin: 0 auto;
    color: #474747;
    background: whitesmoke;/*背景色*/
    border-left: double 7px #ff0000;/*左線*/
    border-right: double 7px #ff0000;/*右線*/
}
  
.選択 li{
    letter-spacing: normal;
    display: inline-block;
    width: calc(100%/6);
    margin: 0; 
    padding: 0;
}
  
.選択 li a{
    display: block;
    text-decoration: none;
    position: relative;
    text-align: center;
    padding: 12px 0px;
    text-transform: none;
    color: #1a1a1a;
    text-decoration: none;
}

.footer ul {
    padding: 0;
    list-style: none;
}
  
.footer a {
    color: #8e5252;
    text-decoration: none;
}
  
a:hover {
    color: #00ff51;
}
  
.footer hr {
    height: 1px;
    border: 0;
    border-top: 1px solid #797171;
}
  
.footer address {
    font-style: normal;
    color: #ffffff;
}
  
.grid {
    display: grid;
    grid-template-columns: repeat(5, minmax(0, 1fr));
    gap: 5rem;
    margin-bottom: 1.5rem;
}
  
.footer {
    font-size: 15px;
    color: #ff0000;
    background: #000000;
    position: absolute;
    bottom: -500px !important;
    width: 100%;
    z-index: 9999;
}
  
.footer__navi-heading {
    font-weight: 600;
}
  
.footer__logo {
    display: inline-block;
    margin-bottom: 1.5rem;
}
  
.footer__navi li {
    margin-bottom: 0.75rem;
}
  
.footer__address {
    margin-bottom: 2rem;
}
  
.footer__address a {
    text-decoration: underline;
}
  
@media (min-width: 768px) {
    .md-flex {
      display: flex;
    }
  
    .md-justify-between {
      justify-content: space-between;
    }
  
    .grid {
      grid-template-columns: repeat(5, minmax(0, 1fr));
    }
    
    .footer__address a {
      text-decoration: none;
      pointer-events: none;
    }
}
  
@media (min-width: 1024px) {
    .lg-flex {
      display: flex;
    }
}
  
.footer p {
    text-align: center;
}

.footer-pos{
    margin: 1%;
}
